html, body,#intro{
    height: 100%;
}

body {
    background-color: #3c3f44;
}
#main{
  background-color:#36393f;
  color:#dcddd9;
  height:90%
}

/*body, footer {
  background-color:#1E1E1E;
  color:#C1C3C6;
}*/

.line {
    position: absolute;
    top: 90%;
    left: 10%;
    height: 1px;
    width: 80%;
    background: #dbddd8;
}

footer{
  position:absolute;
  bottom:10%;
  background-color:
}
.track {
  background-color: #dcddd9;
  color:green;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  text-align: right;
}
#tracks, #remove {
  position:absolute;
  top:45%;
  display:none;
}
#tracks {
  width:30%;
  left:20%;
}
.remove {
  background-color: #dcddd9;
  color:red;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  text-align: left;
}
#remove {
  width: 30%;
  right:20%;
  text-decoration: line-through;
}

#ttitle {
    color: #dcddd9;
}
